<div class="row">


    <div class="col-md-3">

        <app-table-group></app-table-group>
        <div class="card text-center mt-1" style="height: 270px;">

            <h6>Dünya Geneli Enfeksiyon Dağılımı</h6>
            <app-pie-chart></app-pie-chart>
            


        </div>

    </div>
    <div class="col-md-9">
       
        <app-cart-group></app-cart-group>

        <div class="card">
            <app-chart></app-chart>
        </div>
        <div class="card">

            <app-line-chart></app-line-chart>

        </div>



    </div>

</div>